.container {
    text-align: center;
    background-color: #FF8080;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button:active
{
    box-shadow: none;
    transform : translatey(5px);
    background-color: #98eaa7;
/* gölgenin açısına göre veya gölgenin üstüne çökmesi
için güncellenebili*/
}

button:hover {
    background-color: #CDFAD5;
}

button {
width: 200px;
height: 60px;
color: rgb(2, 2, 2);
background-color:#F8FF95;
font-size: 18px;
font-weight: bold;
border-radius: 30px;
cursor: pointer;
border: 2px solid #000000;
margin: 30px; 
box-shadow:5px 8px 0px;
}

.baslik {
    width:auto ;
    height:110px;
    font-family: 'Dancing Script', cursive;
    font-size:80px;
}