.container {
    text-align: center;
    margin-top: 50px;
}
.container1 {
    text-align: center;
    margin-top: 50px;
}
img {
    width: 300px; 
    height: auto;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #a6ff96;
} 
img {
    border-radius: 30px; 
}

.baslik {
    width:auto ;
    height:110px;
    font-family: 'Dancing Script', cursive;
    font-size:80px;
    
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

