.container {
    text-align: center;
    margin-top: 50px;
}
img {
    width: 300px; 
    height: auto;
}
.button{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        line-height: 100px;
        background-color:#F8FF95;      
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
