.swipenglish-button 
{
height: 60px;
width: 300px;
color:#57375D;
background-color:#F8FF95;
font-size: 18px;
font-weight: bold;
border-radius:30px;
cursor: pointer;
border: 2px solid #000000;
margin: 10px; /* Butonlar arasında boşluk bırakmak için */
font-family:"Dancing Script";
box-shadow:5px 8px 0px
}
.swipenglish-button:hover 
{
background-color:#FFA1F5;
}
.swipenglish-button:active 
{
background-color:#BC7AF9;
}
.swipenglish-button:active
{
box-shadow: none;
transform : translatey(5px);
/* gölgenin açısına göre veya gölgenin üstüne çökmesi
için güncellenebili*/
}
.container 
{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
height: 100vh;
}
.top-left-button
{
position: absolute;
width: 35px;
height: 97px;
border: none;
background-image: url(images/papagan.png) ;
background-repeat:no-repeat;
margin: 10px  ;
background-color: transparent;
}
body 
{
margin: 0;
padding: 0;
/* background-image: url(images/tema4.jpg);*/
background-color: #a6ff96;
}

.baslik{
    font-family: "Dancing Script", cursive;
    font-size: 30px;
    color: #57375D;
}