body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #a6ff96;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    -webkit-tap-highlight-color: transparent;
}

main {
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
}

main > section {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    scroll-snap-stop: always;
}

main > section > div {
    font-size: 80px;
    font-weight: 700;
    color: #fff;
}

.card {
    width: 45vh; 
    height: 45vh; 
    perspective: 1000px;
    margin-top: 22vh;
}

.card-inner {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    margin-top: -14.5vh;
}

.card.dragging .card-inner {
    transition: none;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-back {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 16px;
    color: white;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    pointer-events: none;

}

.card-front img,
.card-back img {
pointer-events: none;
user-select: none;
}

img {
overflow: hidden;
border-radius: 16px;
user-select: none;
}
/* WebKit tabanlı tarayıcılarda */
::-webkit-scrollbar {
width: 1px; /* Varsayılan scrollbar genişliği */
}

::-webkit-scrollbar-track {
background: transparent; /* Scrollbar arkaplanı */
}

::-webkit-scrollbar-thumb {
background: rgba(0, 0, 0, 0.5); /* Scrollbar başlığı rengi ve opaklığı */
border-radius: 10px; /* Scrollbar başlığı köşe yarıçapı */
}

/*burdan itibaren kart ve sound img ayarlarını yapıcaz*/
.sound{
    overflow: hidden;
    border-radius: 16px;
    user-select: none;
    text-align: center;
    display: flex;
    justify-content: center;
    background-color: #a6ff96;
    border: none; /* Butonun kenarlık (border) özelliğini kaldırır */
    margin-top: 10vh; /* Opsiyonel: İstediğiniz boşluk için */
    outline: none; /* Buton tıklandığında veya odaklandığında kenarlık (outline) özelliğini kaldırır */
    width: 10vh;
    height: 10vh;
}
.sound-container {
    display: flex;
    justify-content: center; /* Yatayda hizalama */
    align-items: flex-start; /* Dikeyde hizalama */
}
.sound img  {
    user-select: none; /* Resmin seçilemez olmasını sağlar */
    pointer-events: none; /* buton içindeki image'in seçilip sürüklenebilirliğini kaldırırıyor */
}
.tanitici {
    right: 10px;
    top: 15px; /* Yukarıdan 10 piksel boşluk bırak */
    display: flex;
    z-index: 1;
    position: fixed; /* Sayfa kaydırılsa bile sabit kalmasını sağla */
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 3vh; /* Yükseklik birimini viewport yüksekliğine göre ayarla */
    align-items: center;
    justify-content: center;
}
.tanitici img {
    margin-right: 1vh; /* Görsel ile metin arasında bir boşluk bırakmak için */
    height: 10vh; /* Görsel yüksekliğini viewport yüksekliğine göre ayarla */
}
.gallery-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    overflow: hidden;
}
.gallery-content {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 55vh;
}
.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}
.next-button {
    position: absolute;
    bottom: 20px;
    align-items: center;
    justify-content: center;
    display: flex;
    right: 20px;
    width: 75px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    background-color: yellowgreen;
    border-radius: 10px;
    font-size: 25px;
    
}
@media  (max-width: 768px) {     
.gallery-image {
width: 30vh; /* Genişliği %100 yap */
height: 90vh; /* Yüksekliği otomatik olarak ayarla */
}
}