.englishtoturkishbutton, .turkishtoenglishbutton,.quizbutton
{
  height: 70px;
  width: 350px;
  color:#57375D;
  background-color:#F8FF95;
  font-size: 18px;
  font-weight: bold;
  border-radius:50px;
  cursor: pointer;
  border: 2px solid #000000;
  margin: 10px; /* Butonlar arasında boşluk bırakmak için */
  font-family:"Dancing Script";
  box-shadow:5px 8px 0px;
  -webkit-tap-highlight-color: transparent;
}
.englishtoturkishbutton:active, .turkishtoenglishbutton:active, .quizbutton:active
{
  box-shadow: none;
  transform : translatey(5px);
  background-color:#BC7AF9;
}
.turkishtoenglishbutton:hover, .quizbutton:hover, .englishtoturkishbutton:hover 
{
  background-color: #FFA1F5;
}
.container 
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.top-left-button
{ /*bu kod logo için yazılmıştır*/
  position: absolute;
  width: 35px;
  height: 97px;
  border: none;
  background-repeat:no-repeat;
  margin: 10px  ;
  background-color: transparent;
}
body 
{
  margin: 0;
  padding: 0;
  background-color: #a6ff96;
}
.baslik
{
  font-family: "Dancing Script", cursive;
  font-size: calc(30px + 1vw); /* Duyarlı başlık boyutu ayarı */
  color: #57375D;
  margin-top: -90px;
}

@media screen and (max-width: 600px) {
  .baslik {
      font-size: 30px; /* Ekstra küçük ekranlar için başlık boyutu ayarı */
      display: flex;
      justify-content: center;
      align-items: center;
  }
}