body {
    background-color:black;
    font-family: 'arial', sans-serif;
}
:root {
    --cards:4;
    --cardHeight: 87vh;
    --cardTopPadding: 4vw;
}
.container{
    width: 90%;
    margin: 0 auto;
}
#cards {
    list-style:none;
    padding-left: 0%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--cards),var(--cardHeight));
    gap: var(--cardMargin);
    padding-bottom: calc(var(--cards) * var(--cardTopPadding));
    margin-bottom: var(--cardMargin);
}
#card1 {
    --index:1;
}
#card2 {
    --index:2;
}
#card3 {
    --index:3;
}
.card {
    position: sticky;
    top:0;
    padding-top: calc(var(--index)*var(--cardTopPadding));
}
#card1 .card-body{
    background-color: red;
}
#card2 .card-body{
    background-color:orange;
}
#card3 .card-body{
    background-color: yellow;
}
.card-body{
    box-sizing: border-box;
    padding: 300px;
    border-radius: 50px;
    box-shadow: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 2.5em;
}